## Tipos de Datos
### Importar librerias

In [1]:
import pandas as pd
import numpy as np

### Tipos de datos básicos

In [20]:
## 1. Tipos de Datos Básicos:
##   - Enteros (int): Representan números enteros. Ejemplo: `edad = 25`
##   - Flotantes (float): Representan números decimales. Ejemplo: `altura = 1.75`
##   - Cadenas (str): Representan texto. Ejemplo: `nombre = "Juan"`

In [21]:
edad = 25

In [22]:
type(edad)

int

In [23]:
altura = 1.75

In [24]:
type(altura)

float

In [25]:
nombre = "Juan"

In [26]:
type(nombre)

str

### Tipos de datos estructurados

In [ ]:
## 2. Tipos de Datos Estructurados:
   ## - **Listas:** Colección ordenada y modificable. Ejemplo: `nombres = ["Juan", "Ana", "Carlos"]`
   ## - **Tuplas:** Colección ordenada e inmutable. Ejemplo: `coordenadas = (10, 20)`
   ## - **Diccionarios:** Colección desordenada de pares clave-valor. Ejemplo: `persona = {"nombre": "Ana", "edad": 30}`

In [27]:
nombres = ["Juan", "Ana", "Carlos"]

In [29]:
nombres[2]

'Carlos'

In [30]:
coordenadas = (10, 20)

In [31]:
type(coordenadas)

tuple

In [ ]:
persona = {"nombre": "Ana", "edad": 30}

### Crear un DataFrame a partir de una lista de diccionarios

In [32]:
# Lista de diccionarios con datos de personas
datos_personas = [
    {"Nombre": "Juan", "Edad": 25, "Ciudad": "Ciudad A"},
    {"Nombre": "Ana", "Edad": 30, "Ciudad": "Ciudad B"},
    {"Nombre": "Carlos", "Edad": 35, "Ciudad": "Ciudad A"}
]

# Crear un DataFrame a partir de la lista de diccionarios
df_personas = pd.DataFrame(datos_personas)

# Mostrar el DataFrame
df_personas

   Nombre  Edad    Ciudad
0    Juan    25  Ciudad A
1     Ana    30  Ciudad B
2  Carlos    35  Ciudad A

### Tipos de Datos Booleanos:

In [13]:
   ## Bool:** Representa valores de verdad, `True` o `False`. Ejemplo: `es_mayor_edad = True`

In [33]:
ejemplo_booleano = True

In [34]:
type(ejemplo_booleano)

bool

### Librería NumPy para Datos Numéricos:

In [15]:
## Librería NumPy para Datos Numéricos:**
##   - Importar NumPy: `import numpy as np`
##   - Crear un array NumPy: `edades = np.array([25, 30, 35])`
##   - Realizar cálculos matemáticos: `media = np.mean(edades)`

In [35]:
edades = np.array([25, 30, 35])

In [36]:
media = np.mean(edades)

In [37]:
print(media)

30.0

### Ejercicios prácticos

#### 1er Ejercicio - Listas

In [2]:
## Manipular una lista de nombres, agregar o eliminar elementos:

# Lista de nombres inicial
nombres = ["Juan", "Ana", "Carlos"]

# Agregar un nuevo nombre al final de la lista
nombres.append("Luis")

# Mostrar la lista después de la adición
print("Lista después de agregar un nombre:", nombres)

# Posiciones dentro de una lista, Python en las listas siempre arranca a contar desde 0
#Si quiero seleccionar a Juan deberia utilizar 
nombres[0]

# Eliminar el segundo nombre de la lista
nombres.pop(1)

# Mostrar la lista después de la eliminación
print("Lista después de eliminar el segundo nombre:", nombres)

Lista después de agregar un nombre: ['Juan', 'Ana', 'Carlos', 'Luis']
Lista después de eliminar el segundo nombre: ['Juan', 'Carlos', 'Luis']

#### 2do Ejercicio - Diccionarios

In [5]:
nombres.insert(2, 'David')

In [6]:
nombres

['David', 'Juan', 'David', 'Carlos', 'Luis']

In [40]:
## Utilizar un diccionario para representar información de un estudiante:**

# Datos del estudiante en un diccionario
estudiante = {
    "nombre": "María",
    "edad": 22,
    "cursos": ["Matemáticas", "Historia", "Inglés"],
    "promedio": 8.5
}

# Mostrar la información del estudiante
print("Información del estudiante:")
print("Nombre:", estudiante["nombre"])
print("Edad:", estudiante["edad"])
print("Cursos:", estudiante["cursos"])
print("Promedio:", estudiante["promedio"])

Información del estudiante:
Nombre: María
Edad: 22
Cursos: ['Matemáticas', 'Historia', 'Inglés']
Promedio: 8.5

In [41]:
estudiante["promedio"]

8.5